*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  user-select: none;

  // font-family: "Roboto", "Arial", sans-serif;
  // font-family: "Helvetica Neue", "Arial", sans-serif;
  font-family: "system-ui", "Arial", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  text-size-adjust: none;
}

input,
textarea {
  cursor: text;
  user-select: text;
}
